*.class

# gradle
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!gradle.properties

# sourcecode
!src/

# important git files
!.gitmodules
!.gitignore

/build/
/Misc Resources/
/classes/
/.idea/
/eclipse/
/.gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
